<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gqxqd.dao.NoteDao">
    <select id="findAll" parameterType="int" resultType="cn.gqxqd.model.Note">
        SELECT * FROM cn_note WHERE cn_user_id = #{cn_user_id}
    </select>
</mapper>